<% @todo_lists.each do |todo_list| %>
  <div class="index_row clearfix">
    <h2 class="todo_list_titulo"><%= link_to todo_list.titulo, todo_list %></h2>
    <p class="todo_list_sub_titulo"><%= todo_list.descripcion %></p>
  </div>
<% end %>

<div class="links">
  <%= link_to "Nueva Lista de Elementos", new_todo_list_path %>
</div>
