<h1 class="todo_list_titulo">Nueva Lista de Tareas</h1>

<div class="forms">
  <%= render 'form', todo_list: @todo_list %>
</div>

<div class="links">
  <%= link_to 'Regresar', todo_lists_path %>
</div>
